In [1]:
import pandas as pd
import datetime as datetime
import csv

In [2]:
bitcoin_path = "data/bitcoin_data.csv"
gold_path= "data/monthly_csv.csv"

In [6]:
bitcoin_df = pd.read_csv(bitcoin_path)
_df= pd.read_csv(usd_path)

In [4]:
bitcoin_df.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Mar 19, 2021  58,501.5  57,645.0  59,448.3  56,305.1   85.23K    1.47%
1  Mar 18, 2021  57,656.0  58,911.8  60,088.0  57,099.6  102.62K   -2.13%
2  Mar 17, 2021  58,913.5  56,892.9  58,933.2  54,253.2  118.26K    3.56%
3  Mar 16, 2021  56,889.7  55,619.5  56,889.7  53,342.6  128.51K    1.97%
4  Mar 15, 2021  55,791.3  59,117.4  60,565.9  55,088.8  117.71K   -5.62%

In [7]:
usd_df.head()

      Date  Price
0  1950-01  34.73
1  1950-02  34.73
2  1950-03  34.73
3  1950-04  34.73
4  1950-05  34.73