In [19]:
import pandas as pd
import datetime as datetime
import investpy

In [20]:
bitcoin_path = "data/bitcoin_data.csv"
gold_path= "data/gold_data.csv"

In [21]:
bitcoin = pd.read_csv(bitcoin_path, encoding="ISO-8859-1")
gold= pd.read_csv(gold_path)

In [22]:
bitcoin_df= investpy.get_crypto_historical_data(crypto='bitcoin',
                                           from_date='01/01/2012',
                                           to_date='01/01/2021')

In [23]:
bitcoin_= bitcoin_df.reset_index()

In [24]:
bitcoin_['Date2'] = bitcoin_['Date'].dt.strftime('%Y-%m')

In [27]:
bitcoin_df= pd.DataFrame(bitcoin_.groupby(['Date2'])['Close'].mean())

In [28]:
bitcoin_df

                Close
Date2
2012-01      6.122581
2012-02      5.113793
2012-03      4.900000
2012-04      4.980000
2012-05      5.070968
...               ...
2020-09  10643.326667
2020-10  11888.358065
2020-11  16660.766667
2020-12  21982.048387
2021-01  29359.900000

[109 rows x 1 columns]

In [33]:
gold

          version https://git-lfs.github.com/spec/v1
0  oid sha256:bf1b60073f574c6072a73ed4fc0f7146c79...
1                                         size 14259